body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    height: 100vh;
}

#super-table {
    padding: 10px;
    border: 2px solid #CFDFE5 ;
    border-radius: 5px;
    position: relative;
}

.col {
    display: flex;
    flex-direction: column;
}

.col div {
    line-height: 30px;
    padding: 0 10px;
    display: block;
    white-space: nowrap;
}

.col:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

.table-header {
    padding: 0;
    position: sticky;
    top: 0;
    background-color: white;
}

.container {
    height: 70vh;
    width: 90vw;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}

@media screen and (min-width: 768px) {
    .container {
        height: 50vh;
        width: 60vw
    }
}